.row
  .col-md-2
  .col-md-8
    = render "office_automation_employee/shared/flash"
    .panel.panel-default
      .panel-heading
        %strong Create new project

      .panel-body
        .container-fluid
          = simple_nested_form_for(@project, url: office_automation_project.company_projects_path, input_html: { role: :form } ) do |f|
            .form-group
              = render partial: "office_automation_project/projects/project", locals: {f: f}

            .form-group= f.submit class: "btn btn-primary"


