<!DOCTYPE html>
<html>
<head>
  <title>OfficeAutomationProject</title>
  <%= stylesheet_link_tag    "office_automation_project/application", media: "all" %>
  <%= javascript_include_tag "office_automation_project/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
